/*body {
    background-color: rgb(29 29 29);
    box-sizing: border-box;

}

#nav-menu {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    /* Safari 
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgb(29 29 29);

}

#nav-menu-name {
    font: Garamond, serif;
    color: aliceblue;
    font-size: x-large;
}

#nav-menu_subdiv1 {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-menu_subdiv2 {
    height: 80px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}

#nav-menu_responsive_icon {
    display: none;
}

#responsive_navbar {
    /* height: 500px;*/
    /*width: 50%;
    display: none;
}

#responsive_navbar a {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}

.nav-link home {
    height: 200px;
}

#home_div,
#about_div {
    height: 400px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: -200;
}

#home_div_subdiv1 {
    height: 400px;
    width: 30%;
    text-align: center;
    word-spacing: 10%;
    line-height: 20px;
    margin-top: 50px;

}

#home_div_subdiv1 p {
    margin-top: 50px;
}

#home_div_subdiv2 {
    height: 400px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

#home_div_subdiv1_hello {
    font-size: 40px;
    font-weight: bolder;
    color: aliceblue;
}

#user-detail-name {
    color: rgb(255, 198, 0);
    font-size: 30px;
}

#user-detail-intro {
    color: aliceblue;
    font-size: large;

}

.home-img {
    border-radius: 50%;
    width: 70%;
}

.skills-card {
    width: 80%;
    border: 1px solid red;
    margin: auto;
    height: 600px;
    margin-top: 50px;
}

#about.about.section {
    text-align: center;
    color: rgb(255, 198, 0);
}

#skillstools_heading {
    text-align: center;
    color: rgb(255, 198, 0);
}

.skill_card {
    width: 100%;
    height: 150px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skills-card-name {
    color: aliceblue;
    text-align: center;
}

.skillgridview {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.skills-card-img {
    margin: auto;
}

#tools {
    width: 80%;
    border: 1px solid red;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#toolheading {
    text-align: center;
    color: rgb(255, 198, 0);
    margin-top: 40px;
}
#projectheading{
    color: aliceblue;
    text-align: center;
}















@media screen and (min-width:551px) and (max-width:900px) {
    #nav-menu_responsive_icon {
        float: right;
        display: flex;
        margin-right: 0px;
        position: absolute;
        right: 0;
        top: 0;
    }

    #nav-menu_subdiv2 a {
        display: none;
    }

    #nav-menu_subdiv1 {
        margin-left: 100px;
    }

    #home_div {
        display: block;
        border: 1px solid red;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        margin-top: 50px;

    }

    #home_div_subdiv1_hello {
        line-height: 50px;
    }

    #user-detail-name {
        line-height: 30px;
    }

    #nav-menu_subdiv2 {
        margin-top: 80px;
        width: 80%;
    }

    #user-detail-intro {
        width: 100%;
        border: 1px solid green;
    }

    #home_div_subdiv1 {
        width: 100%;
        border: 1px solid blue;
    }
    .home-img{
        border-radius: 60%;
        overflow-y: hidden;
    }
    .skillstools_heading{
        margin-top: 200px;
    }
    .skillgridview{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }


}

@media screen and (max-width:551px) {
    #nav-menu_responsive_icon {
        float: right;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    #nav-menu_responsive_icon {
        justify-content: flex-end;
        margin-left: 100%;
        position: absolute;
        right: 0;
        top: 0;

    }

    #nav-menu_subdiv2 a {
        display: none;

    }

    #nav-menu_subdiv1 {
        margin-left: 100px;
    }

    #home_div {
        display: block;
        margin: auto;
        border: 1px solid red;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;


    }

    #home_div_subdiv1_hello {
        line-height: 50px;
    }

    #user-detail-name {
        line-height: 30px;
    }

    #nav-menu_subdiv2 {
        margin-top: 80px;
    }

    #user-detail-intro {
        width: 100%;
        border: 1px solid green;
        margin: auto;
    }

    #home_div_subdiv1 {
        width: 100%;
        border: 1px solid blue;
    }
    .home-img{
        border-radius: 60%;

    }
    .skillstools_heading{
        margin-top: 200px;
    }
    .skillgridview{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    #tools{
        display: flex;
        grid-template-columns: repeat(2,1fr);
    }
   
}*/