* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth
}

body {
    background-color: rgb(29 29 29);
    
}

#nav-menu {
    border: 1px solid red;
    height: 100px;
    background-color: rgb(43, 40, 40);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}

#nav-name {
    color: #F5C542;
    font-size: 28px;
    width: 20%;
    height: 100px;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-menu-subdiv2 {
    width: 50%;
    height: 100px;
    border: 1px solid rgb(35, 199, 62);
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#nav-menu-subdiv2 a {
    font-size: larger;
    color: aliceblue;
    text-decoration: none;
    padding: 10px;

}

#nav-menu-subdiv2 a:hover {
    border: 2px solid #F5C542
}

#home {
    border: 1px solid red;
    height: 400px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    display: flex;
}

#home_subdiv1 {
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}

#home_subdiv2 {
    width: 50%;
    height: 400px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hey_welcome {
    color: #E6E8FA;
    font-size: 24px;
    font-weight: 400;
    text-align: center;

}

#user-detail-name {
    color: #F5C542;
    font-size: 34px;
    margin-top: 20px;
    text-align: center;
}

#web_developer_title {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

#resume-button-2 {
    font-size: larger;
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #F5C542;
    margin-top: 20px;

}

#resume-button-2:hover {
    cursor: pointer;
    background-color: #F5C542;
    color: black;
}

/*#responsive_navbar {
    border: 1px solid red;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #2B2828;
    display: none;

}

#responsive_navbar a {
    font-size: larger;
    color: aliceblue;
    text-decoration: none;
    padding: 20px;
}

#responsive_navbar a:hover {
    border: 2px solid #F5C542
}

#sidebarcloseicon {
    width: 30px;
    color: #E6E8FA;
    align-items: end;
   margin-top: 10px;
    margin-left: 80%;
}

#nav-menu_responsive_icon {
    display: none;
}*/

#about{
  height: 450px;
  width: 90%;
  border: 1px solid red;
  margin: auto;
  margin-top: 50px;
 
}
#about_subdiv1{
    height: 70px;
    border: 1px solid green;
    color: #E6E8FA;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
#about_subdiv1 span{
    margin-left: 10px;
    color: #F5C542;
}
#user-detail-intro{
    height: 300px;
    width: 45%;
    color: #E6E8FA;
    font-size: 17px;
    word-spacing: 10px;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
#about_main_subdiv{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#about_subdiv3{
    height: 300px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #E6E8FA;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.home-img{
    border-radius: 50%; 
    
}
#skills{
    width: 90%;
    margin: auto;
    height: 500px;
    border: 1px solid red;
   margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.skills-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #E6E8FA;
    font-size: x-large;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#skill_heading{
    color: #E6E8FA;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;

}
#prjects_heading{
    color: #E6E8FA;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    margin-top: 100px;

}
#projects{
    border: 1px solid red;
    width: 80%;
    margin: auto;
    height: 800px;
}






/*@media all and (max-width: 1100px) and (min-width:601px) {

    #nav-menu-subdiv2  {
        display: none;
    }

    #nav-menu_responsive_icon {
        display: flex;
        position: absolute;
        right: 0;     
        color: #E6E8FA;
        z-index: -20;
    }
    #nav-name{
        width: 30%;
    }
    #home{
        display: block;
        width: 80%;
        height: 700px;
    }
    #home_subdiv1{
        width: 100%;
        margin: auto;
    }
    #home_subdiv2{
        width: 100%;
        margin: auto;        
    }



}

@media all and (max-width: 601px) and (min-width:100px) {

    #nav-menu-subdiv2  {
        display: none;

    }

    #nav-menu_responsive_icon {
        display: flex;
        position: absolute;
        right: 0;     
        color: #E6E8FA;
        z-index: -20;
    }
    #nav-name{
        width: 50%;
        font-size: medium;
    }
    #home{
        display: block;
        width: 80%;
        height: 700px;

    }
    #home_subdiv1{
        width: 100%;
        margin: auto;
    }
    #home_subdiv2{
        width: 100%;
        margin: auto;
    }



}*/

























































/*body {
    background-color: rgb(29 29 29);
    box-sizing: border-box;

}

#nav-menu {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    /* Safari 
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgb(29 29 29);

}

#nav-menu-name {
    font: Garamond, serif;
    color: aliceblue;
    font-size: x-large;
}

#nav-menu_subdiv1 {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-menu_subdiv2 {
    height: 80px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}

#nav-menu_responsive_icon {
    display: none;
}

#responsive_navbar {
    /* height: 500px;*/
/*width: 50%;
    display: none;
}

#responsive_navbar a {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}

.nav-link home {
    height: 200px;
}

#home_div,
#about_div {
    height: 400px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: -200;
}

#home_div_subdiv1 {
    height: 400px;
    width: 30%;
    text-align: center;
    word-spacing: 10%;
    line-height: 20px;
    margin-top: 50px;

}

#home_div_subdiv1 p {
    margin-top: 50px;
}

#home_div_subdiv2 {
    height: 400px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

#home_div_subdiv1_hello {
    font-size: 40px;
    font-weight: bolder;
    color: aliceblue;
}

#user-detail-name {
    color: rgb(255, 198, 0);
    font-size: 30px;
}

#user-detail-intro {
    color: aliceblue;
    font-size: large;

}

.home-img {
    border-radius: 50%;
    width: 70%;
}

.skills-card {
    width: 80%;
    border: 1px solid red;
    margin: auto;
    height: 600px;
    margin-top: 50px;
}

#about.about.section {
    text-align: center;
    color: rgb(255, 198, 0);
}

#skillstools_heading {
    text-align: center;
    color: rgb(255, 198, 0);
}

.skill_card {
    width: 100%;
    height: 150px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skills-card-name {
    color: aliceblue;
    text-align: center;
}

.skillgridview {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.skills-card-img {
    margin: auto;
}

#tools {
    width: 80%;
    border: 1px solid red;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#toolheading {
    text-align: center;
    color: rgb(255, 198, 0);
    margin-top: 40px;
}
#projectheading{
    color: aliceblue;
    text-align: center;
}















@media screen and (min-width:551px) and (max-width:900px) {
    #nav-menu_responsive_icon {
        float: right;
        display: flex;
        margin-right: 0px;
        position: absolute;
        right: 0;
        top: 0;
    }

    #nav-menu_subdiv2 a {
        display: none;
    }

    #nav-menu_subdiv1 {
        margin-left: 100px;
    }

    #home_div {
        display: block;
        border: 1px solid red;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        margin-top: 50px;

    }

    #home_div_subdiv1_hello {
        line-height: 50px;
    }

    #user-detail-name {
        line-height: 30px;
    }

    #nav-menu_subdiv2 {
        margin-top: 80px;
        width: 80%;
    }

    #user-detail-intro {
        width: 100%;
        border: 1px solid green;
    }

    #home_div_subdiv1 {
        width: 100%;
        border: 1px solid blue;
    }
    .home-img{
        border-radius: 60%;
        overflow-y: hidden;
    }
    .skillstools_heading{
        margin-top: 200px;
    }
    .skillgridview{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }


}

@media screen and (max-width:551px) {
    #nav-menu_responsive_icon {
        float: right;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    #nav-menu_responsive_icon {
        justify-content: flex-end;
        margin-left: 100%;
        position: absolute;
        right: 0;
        top: 0;

    }

    #nav-menu_subdiv2 a {
        display: none;

    }

    #nav-menu_subdiv1 {
        margin-left: 100px;
    }

    #home_div {
        display: block;
        margin: auto;
        border: 1px solid red;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;


    }

    #home_div_subdiv1_hello {
        line-height: 50px;
    }

    #user-detail-name {
        line-height: 30px;
    }

    #nav-menu_subdiv2 {
        margin-top: 80px;
    }

    #user-detail-intro {
        width: 100%;
        border: 1px solid green;
        margin: auto;
    }

    #home_div_subdiv1 {
        width: 100%;
        border: 1px solid blue;
    }
    .home-img{
        border-radius: 60%;

    }
    .skillstools_heading{
        margin-top: 200px;
    }
    .skillgridview{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    #tools{
        display: flex;
        grid-template-columns: repeat(2,1fr);
    }
   
}*/