* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth
}

body {
    background-color: rgb(29 29 29);
    
}
a{
    text-decoration: none;
}

#nav-menu {
    height: 100px;
    background-color: rgb(43, 40, 40);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}

#nav-name {
    color: #F5C542;
    font-size: 28px;
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-menu-subdiv2 {
    width: 50%;
    height: 100px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#nav-menu-subdiv2 a {
    font-size: larger;
    color: aliceblue;
    text-decoration: none;
    padding: 10px;

}
#resume-button-1 {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#nav-menu-subdiv2 a:hover {
    border: 2px solid #F5C542
}

#home {
      
    width: 90%;
    margin: auto;
    display: flex;
    padding-top:80px;
}

#home_subdiv1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home_subdiv2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hey_welcome {
    color: #E6E8FA;
    font-size: 24px;
    font-weight: 400;
    text-align: center;

}

#user-detail-name {
    color: #F5C542;
    font-size: 34px;
    margin-top: 20px;
    text-align: center;
}

#web_developer_title {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

#resume-button-2{
    font-size: larger;
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #F5C542;
    margin-top: 20px;
    background-color: rgb(29 29 29) ;

}
#resume-link-2{
   color: #E6E8FA;
}
#resume-link-2:hover{
    color: black;
}
#resume-button-2:hover {
    cursor: pointer;
    background-color: #F5C542;
    color: black;
}

#responsive_navbar {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #2B2828;
    display: none;

}

#responsive_navbar a {
    font-size: larger;
    color: aliceblue;
    text-decoration: none;
    padding: 20px;
}

#responsive_navbar a:hover {
    border: 2px solid #F5C542
}

#sidebarcloseicon {
    width: 30px;
    color: #E6E8FA;
    align-items: end;
   margin-top: 10px;
    margin-left: 80%;
}

#nav-menu_responsive_icon {
    display: none;
}

#about{
  height: 450px;
  width: 90%;
  margin: auto;
  padding-top: 100px;

 
}
#about_subdiv1{
    height: 70px;
    color: #E6E8FA;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
}
#about_subdiv1 span{
    margin-left: 10px;
    color: #F5C542;
}
#user-detail-intro{
    height: 300px;
    width: 45%;
    color: #E6E8FA;
    font-size: 17px;
    word-spacing: 10px;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
#about_main_subdiv{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#about_subdiv3{
    height: 300px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #E6E8FA;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.home-img{
    border-radius: 50%; 
    
}
#skills{
    padding-top: 100px;
   
}
#skill_main_div{
    width: 90%;
    margin: auto;   
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.skills-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #E6E8FA;
    font-size: x-large;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#skill_heading{
    color: #E6E8FA;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    

}
#prjects_heading{
    color: #E6E8FA;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
   

}
#projects{
    padding-top: 100px;
}
#projects_main_div{
    width: 90%;
    margin: auto;   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
   
}
.project-card{
    padding: 20px;
}
.project-title{
    font-size: 30px;
    color: #F5C542;
    margin-top: 20px;
}
.project-description{
    color: #E6E8FA;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.project-tech-stack{
    font-size: larger;
    color: #F5C542;
    margin-right: 10px;
}
.project-tech-stack_div{
    height: 60px;
    display: flex;
    align-items: center;
}
#github{
    width: 90%;
    margin: auto;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#github-top-langs{
    background-color: black;
}
#github-top-langs_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact{
    width: 90%;
    margin: auto;
    padding-top: 100px; 
}
#contact-subdiv1{
    height: 50px;
    color: #E6E8FA;
    font-size: 34px;
    font-weight: 400;
    text-align: center;

}
#contact-subdiv2{
    height: 350px;
    display:flex ;
    justify-content: space-around;
    align-items: center;
}
.contact-subdiv2_subdiv{
    width: 45%;
    display:flex ;
    justify-content: center;
    align-items: center;
}
form input{
    margin-left: 50px;
    margin-top: 10px;
    height: 20px;
    width: 200px;
    padding: 10px ;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
form input:nth-child(4){
    height: 40px;
}

#submit {
    font-size: larger;   
    text-decoration: none;     
    cursor: pointer;
    background-color: #F5C542;
    color: black;
    width: 200px;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    margin-left: 70px;
    border: none;
    border-radius: 5px;
}
#footer{
    height: 150px;
    background-color: rgb(43, 40, 40);
}
.footer_subdiv{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.footer_subdiv p{
    margin-left: 10px;
    color: #E6E8FA;
}
.footer_subdiv2{
    width: 10%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.footer_subdiv2 img{
    border-radius: 50%
}










@media all and (max-width: 1100px) and (min-width:601px) {

    #nav-menu-subdiv2  {
        display: none;
    }

    #nav-menu_responsive_icon {
        display: flex;
        position: absolute;
        right: 0;     
        color: #E6E8FA;
        z-index: -20;
    }
    #nav-name{
        width: 30%;
    }
    #home{
        display: block;
        width: 80%;       
        margin: auto;
      
    }
    #home_subdiv1{
        width: 100%;
        margin: auto;
       
       
    }
    #home_subdiv2{
        width: 100%;
        margin: auto;
                
    }
    #about{
        display: block;
        width: 80%;
        margin: auto;
        margin-top: 20px;
        height: auto;
    }
    #about_main_subdiv{
      display: flex;
      flex-direction: column-reverse;
    }
    #skill_main_div{
        grid-template-columns: repeat(2,1fr);
    }
    #skills{
        width: 80%;
        margin: auto;
    }
    #user-detail-intro{
        width: 100%;
    }
    #about_subdiv3{
        height: auto;
    }
    #projects_main_div{
        grid-template-columns: repeat(1,1fr);
    }
    #projects{
        height: auto;
    }
    #github{
       flex-direction: column;
       align-items: center;
       margin: auto;
    }
    #github img{
        width: 100%;
    }
    #contact-subdiv2{
        flex-direction: column;
        align-items: center;
        
    }
    #contact-subdiv2{
        height: 700px;
    }
    .contact-subdiv2_subdiv{
        width: 70%;
    }

}

@media all and (max-width: 601px) and (min-width:100px) {

    #nav-menu-subdiv2  {
        display: none;

    }

    #nav-menu_responsive_icon {
        display: flex;
        position: absolute;
        right: 0;     
        color: #E6E8FA;
        z-index: -20;
    }
    #nav-name{
        width: 50%;
        font-size: medium;
    }
    #home{
        display: block;
        width: 80%;       
        margin: auto;
      
    }
    #home_subdiv1{
        width: 100%;
        margin: auto;
       
    }
    #home_subdiv2{
        width: 100%;
        margin: auto;
                
    }
    #about{
        display: block;
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    #skill_main_div{
        grid-template-columns: repeat(1,1fr);
    }
    #about_main_subdiv{
        width: 100%;
    }
   
    #skills{
        width: 80%;
        margin: auto;
    }
    #about_subdiv3{
        height: auto;
    }
    #projects_main_div{
        grid-template-columns: repeat(1,1fr);
     
    }
    #projects{
        height: auto;
    }
    #github{
        flex-direction: column;
       align-items: center;
    }
    #github img{
        width: 100%;
    }
    #contact-subdiv2{
        flex-direction: column;
        align-items: center;
        
    }
    #contact-subdiv2{
        height: 700px;
    }
    .contact-subdiv2_subdiv{
        width: 70%;
    }





}

























































