body {
    background-color: rgb(29 29 29);
    box-sizing: border-box;

}

#nav-menu {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0
}

#nav-menu-name {
    font: Garamond, serif;
    color: aliceblue;
    font-size: x-large;
}

#nav-menu_subdiv1 {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-menu_subdiv2 {
    height: 80px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}

#nav-menu_responsive_icon {
    display: none;
}

#responsive_navbar {
    /* height: 500px;*/
    /*width: 50%;*/
    display: none;
}

#responsive_navbar a {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}

.nav-link home {
    height: 200px;
}

#home_div,
#about_div {
    height: 400px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#home_div_subdiv1 {
    height: 400px;
    width: 30%;
    text-align: center;
    word-spacing: 10%;
    line-height: 20px;
    
}
#home_div_subdiv1 p{
    margin-top: 50px;
}
#home_div_subdiv2 {
    height: 400px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home_div_subdiv1_hello {
    font-size: 40px;
    font-weight: bolder;
    color: aliceblue;
}
#user-detail-name{
  color:rgb(255,198,0) ;  
  font-size:x-larger;
}
#user-detail-intro{
    color: aliceblue;
    font-size: large;
    
}
.home-img{
    border-radius: 50%;
    width: 80%;

}














@media screen and (min-width:551px) and (max-width:900px) {
    #nav-menu_responsive_icon {
        float: right;
        display: flex;
        margin-right: 0px;
        position: absolute;
        right: 0;
        top: 0;
    }

    #nav-menu_subdiv2 a {
        display: none;
    }

    #nav-menu_subdiv1 {
        margin-left: 100px;
    }


}

@media screen and (max-width:551px) {
    #nav-menu_responsive_icon {
        float: right;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    #nav-menu_responsive_icon {
        justify-content: flex-end;
        margin-left: 100%;
        position: absolute;
        right: 0;
        top: 0;

    }

    #nav-menu_subdiv2 a {
        display: none;

    }

    #nav-menu_subdiv1 {
        margin-left: 100px;
    }
}